.sidebar {
  background-color: rgba(25, 25, 25, 0.1);
  height: 100vh;
}

.sidebar h1 { display: inline-block; }
.sidebar li { list-style: none; }
.sidebar .room-name { cursor: pointer; }
.sidebar h4 {
  display: inline-block;
  color: gray;
}

.new-room-button {
  float: right;
  margin-top: 2rem;
  padding-left: 3rem; padding-right: 3rem;
  transition: all 0.2s ease-out;
}

.new-room-button:active {
  -webkit-transform: translateY(6px);
      -ms-transform: translateY(6px);
          transform: translateY(6px);
}

.modal-body label { color: gray; }

.message-row-0 {
  background-color: rgba(65, 125, 190, 0.2);
}

.message-row-1 {
  background-color: rgba(65, 125, 190, 0.1);
}

.list-group-item .time {
  float: right;
  font-style: italic;
}
